body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
    background-image:url(../images/Scarlett-Johansson-Black-Widow-Chris-Hemsworth-Thor.jpeg) ;
    background-repeat: no-repeat;
}

#h1 {
    color: rgb(226, 226, 226);
    text-align: center;
    font-family: sans-serif;
    font-size: 300%;
    margin: 10px;
    padding: 5px;
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #fafafaf3;
    font-size: 200%;
    text-align: center;
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #9eb1b300;   
        
}
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: rgb(172, 223, 255);
    border-radius: 25%;
}
.option:hover{
    background-color: lightgoldenrodyellow;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#a8b6b800;
}
.evaluate,.next{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.evaluate{
    
    background-color: #4cb899;
}
.next{
    color: white;
    background-color: #BF3325;
}